body, html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: border-box;
}

pre {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 20px 25px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.4);
  transition: 0.2s;
  margin: 0 auto 20px;
  width: 100%;
  max-width: 300px;
}

a:hover {
  background-color: rgba(0,0,0,0.6);
}

i {
  margin-right: 10px;
}

div, p {
  font-family: 'GothamBook';
  font-size: 1.2em;
}

.container {
  width: 90%;
  margin: 30px auto;
  text-align: center;
  color: #FFF;
}

.container.main p{
  font-size: 1em;
  line-height: 1.5em;
}

.container.main {
  background-color: #2C3E50;
  padding: 2%;
  border-radius: 5px;
  width: 92%;
  max-width: 900px;
  margin: 0 auto 4%;
}

.container.main.install {
  text-align: center;
}

.container.main.install a:nth-child(1) {
  background-color: #00B16A;
}

.container.main.install a:nth-child(2) {
  background-color: #F5AB35;
}


.container.main.install .terminal{
  text-align: center;
}


.container h1 {
  font-size: 2.75em;
  font-family: 'GothamThin';
  letter-spacing: 0.05em;
}

body {
  background-color: #22313F;
}

#patch-container {
  overflow: auto;
  zoom: 1;
  color: #FFF;
  text-align: center;
  margin: 4%;
  padding: 2%;
  border-radius: 5px;
  background-color: #2C3E50;
}

.patch-button {
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 0;
  color: #FFF;
  line-height: 200px;
  font-size: 1.5em;
}

.patch-item {
  float: left;
  width: 100%;
  margin: 0 0 2% 0;
  height: 200px;
  border-radius: 4px;
  background-color: #FFF;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 550px) {
  .patch-item {
    width: 48%;
    margin: 1%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .patch-item {
    width: 32%;
    margin: 0.6667%;
  }

  .wide {
    width: 48.6666%;
    margin: 0.6667%;
  }

  .thin {
    width: 23.6666%;
  }
}

.components {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.4);
  padding: 1%;
  margin-bottom: 3%;
  border-radius: 5px;
  position: relative;
  font-size: 1.2rem;
  border: solid 2px #F5AB35;
}

.components:after {
  content: "1";
  position: absolute;
  width: 30px;
  height: 30px;
  color: #000;
  background-color: #FFF;
  top: 0;
  left: 0;
  line-height: 30px;
  border-radius: 50%;
  transform: translate(-50%, -50%);

}

.patch-panel {
  height: 400px;
  line-height: 400px;
  color: #FFF;
  font-size: 1.5em;
  float: left;
  width: 98.6667%;
  margin: 0.6667%;
  border-radius: 4px;
  background-color: #FFF;
}

.terminal {
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 15px;
  font-family: "Source Code Pro";
  max-width: 600px;
  font-size: 1em;
  text-align: left;
  margin: 0 auto;
}

code {
  line-height: 1.5;
}

.tag {

}

.title {
  color: #00B16A;
}

.attribute {
  color: #2980b9;
}

.value {

}

.option {
  color: #F5AB35;
}

[data-patch-panel="1"] {
  background-color: #F5AB35;
}

[data-patch-panel="2"] {
  background-color: #00B16A;
}

[data-patch-panel="3"] {
  background-color: #E74C3C;
}
[data-patch-panel="4"] {
  background-color: #F5AB35;
}

[data-patch-panel="5"] {
  background-color: #00B16A;
}

[data-patch-panel="6"] {
  background-color: #E74C3C;
}
[data-patch-panel="7"] {
  background-color: #F5AB35;
}

[data-patch-panel="8"] {
  background-color: #00B16A;
}

[data-patch-panel="9"] {
  background-color: #E74C3C;
}
