body, html {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  box-sizing: border-box;
}

pre {
  white-space: pre-wrap;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 10px 0 40px;
}

a {
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 20px 25px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.4);
  transition: 0.2s;
  margin: 0 auto 20px;
  width: 100%;
  max-width: 300px;
}


a:hover {
  background-color: rgba(0,0,0,0.6);
}

i {
  margin-right: 10px;
}

.personal-link {
  background-color: #00B16A;
  margin-top: 30px;
}

.personal-link:hover {
  background-color: #009157;
}

div, p {
  font-family: 'Open Sans';
  font-size: 1.2em;
  font-weight: 400;
}

.container {
  width: 90%;
  margin: 30px auto;
  text-align: center;
  color: #FFF;
}

.container.main p{
  font-size: 1em;
  line-height: 1.5em;
}

.container.main {
  background-color: #2C3E50;
  padding: 2%;
  border-radius: 5px;
  width: 92%;
  max-width: 900px;
  margin: 0 auto 4%;
}

.container.main.install {
  text-align: center;
}

.container.main.install a:nth-child(1) {
  background-color: #00B16A;
}

.container.main.install a:nth-child(2) {
  background-color: #F5AB35;
}


.container.main.install .terminal{
  text-align: center;
}


.container h1 {
  font-size: 2.75em;
  font-weight: 300;
  letter-spacing: 0.05em;
}

body {
  background-color: #22313F;
}

#patch-container {
  overflow: auto;
  zoom: 1;
  color: #FFF;
  text-align: center;
  margin: 4%;
  padding: 2%;
  border-radius: 5px;
  background-color: #2C3E50;
}

.patch-button {
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 0;
  color: #FFF;
  line-height: 200px;
  font-size: 1.5em;
}

.patch-item {
  float: left;
  width: 100%;
  margin: 0 0 2% 0;
  height: 200px;
  border-radius: 4px;
  background-color: #FFF;
}

.patch-panel {
  height: 400px;
  line-height: 400px;
  color: #FFF;
  font-size: 1.5em;
  float: left;
  width: 98.6667%;
  margin: 0 0 2% 0;
  border-radius: 4px;
  background-color: #FFF;
}

.components {
  width: 100%;
  display: inline-block;
  margin: 4% 0;
  background-color: rgba(0,0,0,0.4);
  padding: 1%;
  margin-bottom: 3%;
  border-radius: 5px;
  position: relative;
  font-size: 1.2rem;
  vertical-align: top;
  min-height: 220px;
  padding: 10px;
}

.components:after {
  position: absolute;
  width: 30px;
  height: 30px;
  color: #FFF;
  top: 0;
  left: 0;
  line-height: 30px;
  border-radius: 50%;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.component-one {
  border: solid 3px #F5AB35;
}

.component-one:after {
  content: "1";
  background-color: #F5AB35;
}

.component-one .option {
  color: #F5AB35;
}

.component-two {
  border: solid 3px #00B16A;
}

.component-two:after {
  content: "2";
  background-color: #00B16A;
}

.component-two .option {
  color: #00B16A;
}

.component-three {
  border: solid 3px #E74C3C;
}

.component-three:after {
  content: "3";
  background-color: #E74C3C;
}

.component-three .option {
  color: #E74C3C;
}

.component-four {
  border: solid 3px #3498db;
}

.component-four:after {
  content: "4";
  background-color: #3498db;
}

.component-four .option {
  color: #3498db;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 550px) {
  .patch-item {
    width: 48%;
    margin: 1%;
  }

  .patch-panel {
    margin: 0.6667%;
  }

  .components {
    width: 46%;
    margin: 1.5%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .patch-item {
    width: 32%;
    margin: 0.6667%;
  }

  .wide {
    width: 48.6666%;
    margin: 0.6667%;
  }

  .thin {
    width: 23.6666%;
  }
}

.patch-button:hover {
  border: solid 3px #FFF;
  line-height: 194px;
}

.terminal {
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 15px;
  font-family: "Source Code Pro";
  max-width: 600px;
  font-size: 1em;
  text-align: left;
  margin: 0 auto;
}

code {
  line-height: 1.5;
}

.title {
  color: #00B16A;
}

.attribute {
  color: #3498db;
}

.heart {
  display: inline-block;
    position: relative;
    width: 30px;
    height: 20px;
    margin: 0 5px;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 15px;
    top: 0;
    width: 15px;
    height: 25px;
    background: #E74C3C;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}



[data-patch-panel="1"],
[data-patch-panel="5"],
[data-patch-panel="8"] {
  background: #F5AB35;
}

[data-patch-panel="2"],
[data-patch-panel="6"],
[data-patch-panel="9"] {
  background: #00B16A;
}

[data-patch-panel="3"],
[data-patch-panel="7"],
[data-patch-panel="10"] {
  background: #E74C3C;
}

[data-patch-panel="4"],
[data-patch-panel="8"],
[data-patch-panel="12"] {
  background: #3498db;
}



